router ospf 1
{% for interface in l3_intf %}
{% if interface.startswith('Loop') %}
 network {{ l3_intf[interface].ip_address_mask | ipaddr('address') }} 0.0.0.0 area 0
{% endif %}
{% if interface.startswith('GigabitEthernet0/0/2') %}
 network {{ l3_intf[interface].ip_address_mask | ipaddr('network') }} 0.0.0.3 area 0
{% endif %}
{% endfor %}
!
!
