!
service timestamps debug datetime msec
service timestamps log datetime msec
!
hostname {{ inventory_hostname|upper }}
!
boot-start-marker
boot-end-marker
!
!
enable secret 0 {{ secret }}
!
no aaa new-model
!
