{% for ifname,ifdata in interfaces|ios_sort %}
interface {{ ifname }}
{%      if ifdata.description is defined %}
 description {{ ifdata.description|upper }}
{%      endif %}
{%	if ifdata.vrf is defined %}
{%		if ansible_network_os == 'ios' %}
 ip vrf forwarding {{ ifdata.vrf }}
{%		else %}
 vrf {{ ifdata.vrf }}
{%		endif %}
{%	endif %}
{%      if ifdata.ip is defined %}
{%		if ansible_network_os == 'eos' and ifname|lower not in ['loopback0', 'management1'] %}
 no switchport
{%		endif %}
 ip address {{ ifdata.ip | ipaddr('address') }} {{ ifdata.ip | ipaddr('netmask') }}
{%      endif %}
{%      if ifdata.pim is defined and ifdata.pim == true %}
 ip pim sparse-mode
{%      endif %}
{%	if ifdata.pim_join is defined %}
 ip igmp join-group {{ ifdata.pim_join }}
{%	endif %}
{%	if ifdata.hsrp is defined %}
 standby 1 ip {{ ifdata.hsrp }}
{%		if ifdata.hsrp_priority is defined %}
 standby 1 priority {{ ifdata.hsrp_priority }}
{%		endif %}
 standby 1 preempt
{%	endif %}
{% 	if ansible_network_os == 'ios' and ifname|lower != 'loopback0' %}
 duplex auto
 speed auto
 media-type rj45
{% 	endif %}
{%      if ifdata.enabled == false %}
 shutdown
{% 	else %}
 no shutdown
{%      endif %}
!
{% endfor %}
