!
spanning-tree mode rapid-pvst
!
{% for vlan in vlans %}
vlan {{ vlan.number }}
 name {{ vlan.name }}
!
{% endfor %}
{% for vlan in vlans %}
{% if inventory_hostname.endswith('01') %}
spanning-tree vlan {{ vlan.number }} priority 0
{% else %}
spanning-tree vlan {{ vlan.number }} priority 4096
{% endif %}
{% endfor %}
!
{% for vlan in vlans %}
interface Vlan{{ vlan.number }}
 description {{ vlan.name | upper }}/{{ vlan.description }}
{% if inventory_hostname.endswith('01') %}
 ip address {{ vlan.ip | ipaddr('2') | ipaddr('address') }} {{ vlan.ip | ipaddr('netmask') }}
{% else %}
 ip address {{ vlan.ip | ipaddr('3') | ipaddr('address') }} {{ vlan.ip | ipaddr('netmask') }}
{% endif %}
 ip pim sparse-mode
 ip helper-address 4.5.6.7
 standby {{ vlan.number }} ip {{ vlan.ip | ipaddr('1') | ipaddr('address') }}
{% if inventory_hostname.endswith('01') %}
 standby {{ vlan.number }} priority 120
{% endif %}
 standby {{ vlan.number }} preempt
 no shutdown
!
{% endfor %}
