{% if ansible_network_os == 'eos' %}
ip routing
no ip routing vrf MGMT
!
{% endif %}
router bgp {{ my_asn }}
{% if ansible_network_os == 'ios' %}
{% 	for ifname, ifdata in interfaces|dictsort %}
{%		if ifname == 'Loopback0' %}
 bgp router-id {{ ifdata.ip | ipaddr('address') }}
{%		endif %}
{% 	endfor %}
 bgp log-neighbor-changes
{% 	for neigh in bgp %}
 neighbor {{ neigh.peer }} remote-as {{ neigh.asn }}
{% 		if neigh.update_source is defined %}
 neighbor {{ neigh.peer }} update-source {{ neigh.update_source }}
{%		endif %}
{% 	endfor %}
 !
 address-family ipv4
{% 	for ifname, ifdata in interfaces|dictsort %}
{%      	if ifdata.ip is defined and ifname not in ['GigabitEthernet0/0'] %}
  network {{ ifdata.ip | ipaddr('network') }} mask {{ ifdata.ip | ipaddr('netmask') }}
{%      	endif %}
{% 	endfor %}
{% 	for neigh in bgp %}
  neighbor {{ neigh.peer }} activate
{%		if neigh.next_hop_self is defined and neigh.next_hop_self == true %}
  neighbor {{ neigh.peer }} next-hop-self
{%		endif %}
{% 	endfor %}
 exit-address-family
!
!
{% else %}
{%      for neigh in bgp %}
   neighbor {{ neigh.peer }} remote-as {{ neigh.asn }}
   neighbor {{ neigh.peer }} maximum-routes 500
{%              if neigh.update_source is defined %}
   neighbor {{ neigh.peer }} update-source {{ neigh.update_source }}
{%              endif %}
{%              if neigh.next_hop_self is defined and neigh.next_hop_self == true %}
   neighbor {{ neigh.peer }} next-hop-self
{%              endif %}
{%      endfor %}
{%	if bgp_peer_groups is defined %}
{%		for peer, peer_data in bgp_peer_groups|dictsort %}
   neighbor {{ peer }} peer group
   neighbor {{ peer }} description {{ peer_data.description|upper }}
{%			if peer_data.route_reflector_client is defined and peer_data.route_reflector_client == True %}
   neighbor {{ peer }} route-reflector-client
{%			endif %}
{%			if peer_data.next_hop_self is defined and peer_data.next_hop_self == True %}
   neighbor {{ peer }} next-hop-self
{%			endif %}
   neighbor {{ peer }} maximum-routes 500
{%      	endfor %}
{%	endif %}
   !
   address-family ipv4
{%      for neigh in bgp %}
     neighbor {{ neigh.peer }} activate
{%	endfor %}
{%      for ifname, ifdata in interfaces|dictsort %}
{%              if ifname not in ['Management1'] and ifdata.ip is defined %}
     network {{ ifdata.ip | ipaddr('network') }} mask {{ ifdata.ip | ipaddr('netmask') }}
{%              endif %}
{%      endfor %}
{% 	if vlans is defined %}
{%      	for vlan,vdata in vlans|dictsort %}
     network {{ vdata.ip | ipaddr('network') }} mask {{ vdata.ip | ipaddr('netmask') }}
{%		endfor %}
{%	endif %}
!
{% endif %}
