{% for port in access_ports %}
interface {{ port.name }}
 description {{ port.description }}/{{ port.purpose }}
 switchport mode access
 switchport access vlan {{ port.vlan }}
 spanning-tree portfast
 spanning-tree bpduguard enable
 no shutdown
!
{% endfor %}
