{% if inventory_hostname in bgp_topology %}
router bgp {{ switch_ASN }}
 bgp log-neighbor-changes
{% for interface in l3_intf %}
{% if interface.endswith('Loopback0') %}
 router-id {{ l3_intf[interface].ip_address_mask | ipaddr('address') }}
{% endif %}
{% endfor %}
{% for neigh in bgp_topology[inventory_hostname].ebgp_neigh %}
{% for bgp_peer in hostvars[neigh].l3_intf %}
{% if hostvars[neigh].l3_intf[bgp_peer].description.endswith(inventory_hostname) %}
 neighbor {{ neigh }} remote-as {{ hostvars[neigh].switch_ASN }}
 neighbor {{ neigh }} description eBGP_to_{{ neigh }}
 neighbor {{ neigh }} peer-group
 neighbor {{ neigh }} timers 3 9
 neighbor {{ hostvars[neigh].l3_intf[bgp_peer].ip_address_mask.split("/")[0] }} peer-group {{ neigh }}
{% endif %}
{% endfor %}
{% endfor %}
{% for neigh in bgp_topology[inventory_hostname].ibgp_neigh %}
{% for bgp_peer in hostvars[neigh].l3_intf %}
{% if hostvars[neigh].l3_intf[bgp_peer].description.endswith(inventory_hostname) %}
 neighbor {{ neigh }} remote-as {{ hostvars[neigh].switch_ASN }}
 neighbor {{ neigh }} update-source Loopback0
 neighbor {{ neigh }} description iBGP_to_{{ neigh }}
 neighbor {{ neigh }} next-hop-self
 neighbor {{ neigh }} peer-group
 neighbor {{ neigh }} timers 3 9
 neighbor {{ hostvars[neigh].l3_intf.Loopback0.ip_address_mask.split("/")[0] }} peer-group {{ neigh }}
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
{% for interface in l3_intf %}
{% if interface.startswith('Vlan') %}
 network {{ l3_intf[interface].ip_address_mask | ipaddr('network') }} mask {{ l3_intf[interface].ip_address_mask | ipaddr('netmask') }}
{% endif %}
{% endfor %}
!
