{% if ansible_network_os == 'ios' %}
!         
ip forward-protocol nd
!
!
no ip http server
no ip http secure-server
ip pim rp-address 150.1.4.4 10
ip ssh source-interface GigabitEthernet0/0
ip ssh version 2
!
ipv6 ioam timestamp
!
!
access-list 10 permit 239.0.0.0 0.0.0.255
!
control-plane
!
!
line con 0
line aux 0
line vty 0 4
 exec-timeout 0 0
 login local
 transport input all
!
{% else %}
{% endif %}
